*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-input-placeholder { /* Edge */
  color: #5594C1;
  font-family: 'Rozha One', serif;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: #5594C1;
  font-family: 'Rozha One', serif;
}

::placeholder {
  color: #5594C1;
  font-family: 'Rozha One', serif;
}

body {
	margin:0;
	overflow-x: hidden;
}

h1,p {
	margin:0;

}

.hide {
	display:none;
}

.show {
	display: block !important;
}

.main-bg {
	background-color: #F2F2F2;
	width:100%;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size: cover;
	overflow-x: hidden;
}

.main-container {
	max-width: 1440px;
	width:100vw;
	text-align: center;
	margin: 0 auto;

	p {
		font-family: 'Rozha One', serif;
		color:#5594C1;
		font-size: 24px;
	}

	h1 {
		font-family: 'Oswald', sans-serif;
		color:#5594C1;
		font-size: 48px;
		margin-bottom: 100px;
	}

	input[type=text] {
		width:100%;
	    position:relative;
	    font-family: 'Rozha One', serif;
	    color: #5594C1;
		background-color: #f3f3f3;
	    padding: 19px 60px 15px 15px;
	    border-radius: 10px;
	    font-size: 24px;
	    resize: vertical;
	    border: 0;
	    box-shadow: inset 6px 6px 10px 0px #6d6d6d96, 4px 4px 6px 0px #6d6d6d80;

		&:focus {
			outline: none;
		}
	}
}

.landing-page {
	padding-top: 35vh;
    padding-left: 15px;
    padding-right: 15px;

	.search-box-container {
	    position: relative;
	    max-width: 400px;
	    width:100%;
	    margin:0 auto;

		.search-icon {
			position: absolute;
			right: 22px;
    		top: 32%;
			width: 28px;
			z-index: 1;
			cursor:pointer;
		}

		.errorInput {
			background-color: #ffb4b4;
		}
	}
}

.week-days-container {
    max-width: 1090px;
    width:100%;
    margin: 0 auto;
    padding: 0 15px;

	.selected-day {
		font-size: 24px;
		font-family: 'Rozha One', serif;
		margin-top: 10px;
		color: #5594C1;
	}

	.holder {
		display: flex;
		margin: 0 -15px;
		padding-top: 8px;
	}

	.day {
		width:14.28%;
		background-color: rgba(242, 242, 242, 0.6);
		margin: 15px;
		border-radius: 10px;
		border: 2px solid #CFCFCF;
		position:relative;
		cursor: pointer;

		&:after {
		    content: "";
		    padding-bottom: 100%;
		    display: block;
		}
		
		img {
			top: 17%;
			right: 50%;
			transform: translateX(50%);
			position:absolute;
			width: 36%;
		}

		p {
			font-family: "Oswald", sans-serif;
			margin-top: 20px;
			position: absolute;
		    right: 50%;
		    transform: translateX(50%);
		    bottom: 10px;
		}

		&.active {
			box-shadow: inset 6px 6px 10px 0px rgba(109,109,109,0.23), 4px 4px 6px 0px rgba(109,109,109,0.23);
		}
	}
}

.weather-object {
	display: block;
    width: 100vw;
    height: 43.9vh;

	canvas {
		position:absolute;
		top: -3.4vh;
		left: 3vw;
	}

	img {
		max-width: 408px;
		width: 100%;
	    margin: 0 auto;
	    opacity: 0;
    }
}

.weather-search {
	padding-top: 14vh;
	display: none;

	.close-location {
	    display: flex;
	    justify-content: center;
	    align-items: center;
		z-index: 99999;

	    .btn-close {
			padding: 10px;
			margin-right: 15px;
			border-radius: 10px;
			box-shadow: inset 6px 6px 10px 0px #6d6d6d96, 4px 4px 6px 0px #6d6d6d80;
			z-index: 99999;

		    .close-icon {
			    width: 15px;
			    height: 15px;
			    display: block;
		    }
	    }
	}

	.temperature {
	    display: flex;
	    width: 100%;
	    justify-content: center;
	    pointer-events: none;

		p {
		    font-family: "Oswald", sans-serif;
		    font-size: 96px;
		    line-height: 96px;
		    font-weight: 300;
		    margin-top: 5px;

		    &:after {
		    	content:"";
		    	display: block;
		    	width:100%;
			    margin-top: 5px;
			    height: 5px;
		    	background-color: #5594C1;
		    }
		}
	}
}

@media only screen and (max-width: 767px) {
	.main-container {
		p {
			font-size: 18px;
		}

		h1 {
			font-size: 36px;
		}
	}	

	.week-days-container {
		.holder {
			margin: 0 -5px;
		}

		.day {
			margin: 5px;

			p {
				font-size: 10px;
				bottom: 0;
			}
		}
	}

	.weather-object canvas {
		top: 0;
		left: 0;
	}

	.weather-search {
		padding-top: 35px;
	}
}
